@charset "UTF-8";

:root {
  --primary-color: #8a5aaa; /* Main color for headings and links */
  --secondary-color: #b0a2b0; /* Secondary color for background and accents */
  --text-color: #333; /* Text color for body text */
  
}

body{
  margin: 0;
}

.hide {
  display:none;
}

.footer {
  border-bottom: dashed;
  border-color: white;
}

.header {
  font-family: "totally-gothic-wide-caps", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  transition: 1ms;
  border-bottom: 1px solid black;
  margin-top: 0px;

  
}

.navigation_div {
  font-family: "totally-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  text-align: center;
}

.navigation_div {
  display: inline-block;
  padding: 20px 100px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 10px solid black;
  border-radius: 20px;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: -50px;
  margin-bottom: -1px;
  margin-left: -15px;
  margin-right: -15px;
 
}





a:link {
  color: var(--primary-color);
}

a:hover {
  color: var(--text-color);
}

a:visited {
  color: green;
}

a:active {
  color: var(--primary-color);
}

.header:hover {
  color: var(--secondary-color);
  transition: 2s;
}

h2 {
  font-size: 36px;
  font-family: "totally-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: var(--text-color) ;
}

body {
  background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 98%, rgba(205,0,201,1) 100%);
}

.video {
  width: 640px;
  height: 420px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: var(--secondary-color);
  padding: 10px;
  box-shadow: 0 0 8px black;
  border-radius: 20px;
}

.main_images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: var(--secondary-color);
  padding: 10px;
  box-shadow: 0 0 8px black;
  border-radius: 20px;
  
}

.PVDimages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0 0 8px black;
  border-radius: 20px;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: var(--secondary-color);
  padding: 10px;
  box-shadow: 0 0 8px black;
  border-radius: 20px;
}