@charset "UTF-8";




:root {
  --primary-color: #8a5aaa; /* Main color for headings and links */
  --secondary-color: #b0a2b0; /* Secondary color for background and accents */
  --text-color: #333; /* Text color for body text */
  
}

body{
  margin: 0;
}

.hide {
  display:none;
}

main{
  display:grid;
  grid-template-areas:"h h h h h h"
                      "b b b b b b"
                      "i i i i e e"
                      "f f f f f f";
  
  
  box-sizing: border-box;
  min-height:100%; 

  /*Center a Box element*/
  width: 1800px;
  height: 1800px;
  
  position:relative;
  margin:0 auto 0 auto;
}


header{
  
  grid-area:h;
}
#biography_box{
  background-color:#D9D9D9;
  grid-area:b;

  border-radius: 20px;

  margin: 50px;

  height: 720px;
}

#bio_paragraph{
  background-color:#ABABAB;
  color: #000;
  border-radius: 20px;
  text-align: center;
  height: 520px;

  width: 100%; /* Adjust the width as needed */
  float: right;
   /* Adjust the width as needed to control the size */
  max-width: 1000px; /* Set a maximum width to ensure it doesn't get too wide */
  font-size: 28px; /* Adjust the font size to make the text smaller */
  /* Other styling options as needed */
  margin: 30px;
  margin-top: 100px;
}

.left{
  float: left;
}


#education_box{
  background-color:#D9D9D9;
  grid-area:e;
  width: 450px;

  border-radius: 20px;

  margin-top: 10px;
  margin-right: 50px;
  margin-left: 0px;
  margin-bottom:30px;
}
#education_paragraph{
  background-color:#ABABAB;
  color: #000;

  border-radius: 20px;
  text-align: center;
  

  height: 500px; /* Adjust the width as needed */
  width: 400px;
   /* Adjust the width as needed to control the size */
   /* Set a maximum width to ensure it doesn't get too wide */
  font-size: 36.5px; /* Adjust the font size to make the text smaller */
  /* Other styling options as needed */
  margin-top:50px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 50px;
  
  
}
#hobbies_box{
  background-image: url('images/Background.jpg');
  background-size: cover;
  grid-area:i;
  width: 1200px;
  

  border-radius: 20px;

  margin-top: 10px;
  margin-left: 50px;
  margin-right: 0px;
  margin-bottom:30px;
 
}

#hobbies_paragraph{
  background-color:#ABABAB;
  color: #000;
  border-radius: 20px;
  text-align: center;
  

  height: 400px; /* Adjust the width as needed */
  float: left;
  width: 600px;
   /* Adjust the width as needed to control the size */
   /* Set a maximum width to ensure it doesn't get too wide */
  font-size: 32.5px; /* Adjust the font size to make the text smaller */
  /* Other styling options as needed */
  margin-left: 60px;
  margin-bottom: 60px;
  margin-top: 60px;
}

footer{
 
  grid-area:f;

  font-family: "birch-std", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: white;
  text-align: center;

  
}





header {
  font-family: "birch-std", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 96px;
  text-align: center;
  color: #702323;
  transition: 1ms;
  border-bottom: 1px solid black;
  margin-top: 0px;
  margin-bottom: 50px;

}

a:link {
  color: var(--primary-color);
}

 nav a:link {
  color: var(--primary-color);
}

a:hover {
  color: var(--text-color);
}

a:visited {
  color: green;
}

a:active {
  color: var(--primary-color);
}

header:hover {
  color: black;
  transition: 2s;
}

h2 {
  font-size: 36px;
  font-family: "birch-std", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #FFF;
}


body {
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 48%, rgba(75,17,200,1) 100%);

}

.main_images {
  display: block;
  
  width: 520px;
  height: 520px;
  background-color: var(--secondary-color);
  
  box-shadow: 0 0 8px black;
  border-radius: 20px;
  /* Adjust the width as needed */
  float: left;
  margin: 30px;
  margin-top: 100px;
  
}

.PVDimages {
  display: block;
  
  width: 400px;
  height: 400px;
  background-color: var(--secondary-color);
  
  box-shadow: 0 0 8px black;
  border-radius: 20px;
  /* Adjust the width as needed */
  float: right;
  margin-right: 60px;
  margin-bottom: 60px;
  margin-top: 60px;
}
